@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


#staffNum,#classNum,#memberNum,#saleNum{
    -fx-font-family:"Rajdhani";
    -fx-font-size: 48px;
}
#menuLogo,#sidePANE{
    -fx-font-family:"Rajdhani", Arial , sans-serif;
    /*-fx-font-family: 'Noto Sans JP', sans-serif;*/
}
#dashboardLabel{
    -fx-font-family: 'Heebo', Arial , sans-serif;
    -fx-text-fill: #646c71;
}

#signoutBTN{
    -fx-background-color: transparent;
}

#dashboardSideNav,#trainerSideNav,#memberSideNav,#classSideNav{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment:CENTER;
    -fx-font-size: 15px;
    -fx-font-family:"Rajdhani", Arial , sans-serif;
    -fx-text-fill:#fff;
    /*-fx-border-color: #1face1 ;*/
    /*-fx-border-width: 2px;*/
    /*-fx-border-width: 0 0 2px 0;*/
    /*-fx-border-radius: 25px;*/

}
#dashboardSideNav:hover,#trainerSideNav:hover,#memberSideNav:hover,#classSideNav:hover {
    /*chú ý khoảng cách giữa tên_id vs :hover*/
    -fx-background-color: #1face1;
}



#exit:hover{
    -fx-cursor: hand;
    -fx-background-color: red;
}

