@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
// login page
.centered-border{
    -fx-border-color: black;
    -fx-border-width: 0 3 0 0;
}
.border{
    -fx-border-color: black;
    -fx-border-width: 2;
}
.right-border{
    -fx-border-color: black;
    -fx-border-width: 0 2 0 0;
}
#logoLabel{
    -fx-font-family: 'Rajdhani', sans-serif;
    -fx-alignment: CENTER;
}