@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-SemiBold.ttf');
}

#logoLabel{
    -fx-font-family: 'Rajdhani';
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.buttonItems:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
