
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
.font4nromal{
    -fx-font-family: 'Ubuntu', sans-serif;
}
.font4tile{
    -fx-font-family: "Rajdhani", Arial , sans-serif;
}
.font4text{
    -fxfont-family: 'Heebo', sans-serif;
}

.left-side-background{
    -fx-background-color:  lightblue;
}
.centered-border{
    -fx-border-color: black;
    -fx-border-width: 0 3 0 0;
}
.border{
    -fx-border-color: black;
    -fx-border-width: 2;
}
.right-border{
    -fx-border-color: black;
    -fx-border-width: 0 2 0 0;
}

.left-form{
    -fx-font-family: "Rajdhani", Arial , sans-serif;
}
.top-form{
    -fx-background-color:white ;
    -fx-border-color:#000;
    -fx-border-width: .0px .0px .2px .0px;
}
/*.top-label{*/
/*    -fx-background-color:linear-gradient(#3b4f6e);*/

/*}*/
.header-label{
    -fx-border-color:linear-gradient(to bottom,#86a2bf,#283747);
    -fx-border-width:0 0 0 2.5px;
    -fx-padding: 0 0 0 8px;
    -fx-font-family: "Rajdhani", Arial , sans-serif;
}
.close{
    -fx-cursor:hand;
    -fx-background-color:transparent;
}
.close:hover{
    -fx-background-color:#cc1c16;
     -fx-background-radius: 10px;
}
#btn{
    -fx-cursor:hand;
}
.nav-btn{
    -fx-background-color:transparent;
    -fx-background-color:black;
    -fx-background-radius:30px;
    -fx-cursor:hand;
    -fx-alignment:CENTER;
    -fx-text-fill:#fff;
    /*transition: all .5s ease;*/
}
.nav-btn:hover{
    -fx-background-color: linear-gradient(to bottom,#636262,#1f1d1d);
}
.nav-btn:focused{
    -fx-background-color: linear-gradient(to bottom,#636262,#1f1d1d);
}

.sign-out{
    -fx-background-color:#86a2bf;
    -fx-cursor:hand;
    -fx-background-radius: 10px;
}
.sign-out:hover{
    -fx-background-color:#627ca3;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}
.white-bg{
    /*-fx-background-color:#fff;*/
    -fx-background-radius: 5px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);*/
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
}
.nav-admin{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom,#abb0ac,#7f8280);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
       -fx-text-fill: black;
}
.admin-label{
    -fx-border-color: #4d668f ;
    -fx-border-width: 2 ;
    /*-fx-border-style: segments(25, 25, 35, 25)  line-cap round ;*/
    -fx-text-fill:#000;
}

.left-side-background{
    -fx-background-color:  lightblue;
}
.centered-border{
    -fx-border-color: black;
    -fx-border-width: 0 3 0 0;
}
.border{
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;;
}
.right-border{
    -fx-border-color: black;
    -fx-border-width: 0 2 0 0;
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-radius:8px;
    -fx-border-width:1px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
    -fx-border-color:#a8a5a5;
    -fx-border-width:0px 1px 0px 0px;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom,#636262,#1f1d1d);
    -fx-background-radius:7px 7px 0px 0px;
}

.table-view,.column-header,.filter{
    -fx-background-color:transparent;
    -fx-size:40px;
    -fx-text-fill: black;
}

.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family: 'Ubuntu', sans-serif;
}
.table-row-cell:selected{
    -fx-background-color: #dedcd7;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: black;
}
.table-row-cell{
    -fx-background-color: #f7f5f0;
    -fx-background-insets: 0;
    -fx-text-fill: #141414;
    -fx-font-weight: normal;
}

/* Giao diện khi rê chuột qua hàng */
.table-row-cell:hover{
    -fx-background-color: #dedcd7;
    -fx-text-fill: #0f0f0f;
}


.btn_tool{
-fx-border-color:#9BABB8;
-fx-background-color: rgba(240, 240, 240, 0.5);
-fx-cursor:hand;

}
.add:hover{
  -fx-background-radius: 10px;
   -fx-border-radius: 10px;
   -fx-text-fill:#fff;
-fx-background-color: linear-gradient(to bottom,#636262,#1f1d1d);
-fx-border-color: #b8b8ba;
}
.pagination {
    -fx-skin: "com.sun.javafx.scene.control.skin.PaginationSkin";
}

.pagination .page-indicator {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.pagination .arrow-button {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.pagination .arrow-button:hover {
    -fx-background-color: #555;
}

.card{
    -fx-background-color: linear-gradient(to bottom,#c7c9c9,#c0c2c2,#a2a3a3);
}
.card:hover{
-fx-background-color: linear-gradient(to bottom,#c7c9c9,#8b8c8c,#797a7a);
}
.nav-left{
-fx-background-color: linear-gradient(to right,#545353,#2e2d2d);
-fx-background-radius: 0 20 0 20;
-fx-cursor:hand;
-fx-text-fill: white;

}
.nav-left:hover{
-fx-background-color: linear-gradient(to bottom,#2e2d2d,#545353);
}
.btn-nav-left{
 -fx-background-color:transparent;
 -fx-cursor:hand;
}
.btn-nav-left:hover{
-fx-background-color: linear-gradient(to left,#6d6d6e,#818182);
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}