@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.borderCSS{
    -fx-border-color:  #646c71;
    -fx-border-radius: 26px;
    -fx-padding: 3px;
    -fx-border-style: solid;
}
.textCSS{
    -fx-text-fill: #646c71;
    -fx-font-family: 'Inter', sans-serif;
}

.chartCSS{
    -fx-border-color:  #646c71;
    -fx-border-radius: 26px;
    -fx-border-style: solid;
    -fx-padding: 50px 7px 50px 7px;
}

.menu-button{
    -fx-background-color: #1face1;
    -fx-text-fill: white;
}
#staffNum,#classNum,#memberNum,#stuffNum{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 48px;
    -fx-text-fill: #646c71;
}
#revenueNUM{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: black;
}
#exit:hover{
    -fx-cursor: hand;
    -fx-background-color: red;
}

